<!DOCTYPE html>
{% extends 'theApp/HomePage.html' %}

{% block bodyblock %}

  <div class="jumbotron" style=" background-color: rgba(158, 23, 45, 0.4); border-radius: 200px; color: white;" >
    <h5 style= " padding-left: 500px;" >Student Registration Form</h5>

    <form class="form-group"  method="POST" style=" padding-left: 500px;" >
      {% csrf_token %}

      {{ form.as_p }}


      <input type="submit" class="btn btn-light" style=" border-radius: 10px " name="" value="Register!  ">
    </form>


  </div>

{% endblock %}
